body{
  margin: 0px;
  background-color: #000000;
}

canvas{
  border: 2px solid;
  background-color: #999999;
}

#playButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #888888;
}

audio {
  display: none;
}